[submodule "pyflagsercount/pybind11"]
	path = pyflagsercount/pybind11
	url = https://github.com/pybind/pybind11
	branch = stable
[submodule "sparsehash"]
	path = sparsehash
	url = https://github.com/sparsehash/sparsehash
